{% extends 'base.html.twig' %}

{% block title %}Alimentations index{% endblock %}

{% block body %}
    <h1>Alimentations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LibelleAliment</th>
                <th>TypeAliment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alimentation in alimentations %}
            <tr>
                <td>{{ alimentation.id }}</td>
                <td>{{ alimentation.libelleAliment }}</td>
                <td>{{ alimentation.TypeAliment }}</td>
                <td>
                    <a href="{{ path('alimentations_manager_show', {'id': alimentation.id}) }}">show</a>
                    <a href="{{ path('alimentations_manager_edit', {'id': alimentation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('alimentations_manager_new') }}">Create new</a>
{% endblock %}
